extends /layouts/application.pug

block content
  .jumbotron
    h1.text-center.display-1
      | Tasks

    
    .row
      .col-sm-6.mx-auto.justify-content-center
        form(action=urlFor('tasks#index')).justify-content-center
          table.table-sm.text-center
            tbody
              tr
                td
                  +searchSelect('By', 'creatorId', users, query.creatorId || '')
                td
                  +searchSelect('For', 'assignedToId', users, query.assignedToId || '')
                td
                  +searchSelect('Status', 'statusId', statuses, query.statusId || '')
                td
                  +searchSelect('Tag', 'tag', tags, query.tag || '')
          button.btn.btn-outline-success.btn-block.mb-2(type='submit')= 'Filter tasks'
        if id
          +formFor(user, { url: urlFor('tasks#new'), method: 'get' })
            button.btn.btn-outline-primary.btn-block.mt-2.mb-2(type='submit')= 'Create a new task'

    table.table.table-striped.text-center.align-middle
      thead
        tr
          th Task
          th Created by
          th Assigned to
          th Status
          th Tags
      tbody
        each task in tasks
          tr
            td.align-middle
              +formFor(user, { url: urlFor('tasks#show', task.id), method: 'get' })
                button.btn.btn-outline-info.btn-block(type='submit')= `${task.name}`
            td.align-middle= task.creator.fullName
            td.align-middle= task.assignedTo.fullName
            td.align-middle= task.status.name
            td.align-middle
              row
                each tag in tags
                  each tagTask in tag.Tasks
                    if tagTask.id == task.id
                      .d-inline
                        span
                          kbd.py-0.my-1= tag.name