extends ../layouts/application.pug

block content
  .jumbotron
    if user
      h1.text-center.display-1= `${user.firstName} ${user.lastName}`
    else
      h1.text-center.display-1= `${firstName} ${lastName}`
  
    .row.mt-2
      .col-sm-6.mx-auto
        +formFor(f, { url: urlFor('users-patch', f.object.id), method: 'patch'})
          +input(f, 'email', 'E-mail')
          +input(f, 'firstName', 'First name')
          +input(f, 'lastName', 'Last name')
          button.btn.btn-outline-primary.btn-block.mt-2(type='submit')= 'Update'
        
        +formFor(f, { url: urlFor('users-show', f.object.id) })
          button.btn.btn-outline-success.btn-block.mt-2(type='submit')= 'Go back'