extends /layouts/application.pug

block content
  .jumbotron
    h1.text-center.display-1
      | Users
    table.table.table-striped.text-center 
      thead
        tr
          th First Name
          th Last Name
          th E-mail
          th
          th
      tbody
        each user in users
          tr
            td.align-middle= user.firstName
            td.align-middle= user.lastName
            td.align-middle= user.email
            td
              +formFor(user, { url: urlFor('users#show', user.id) })
                button.btn.btn-outline-info.btn-block(type='submit')= 'View'
            td
              if id == user.id
                +formFor(user, { url: urlFor('users#destroy', user.id), method: 'delete', confirm: `You are about to delete ${user.firstName} ${user.lastName}'s profile, are you sure?`})
                  button.btn.btn-outline-danger.btn-block(type='submit')= 'Delete'
              else
                button.btn.btn-outline-secondary.btn-block(type='button', disabled='') Delete
                